$cell-size: 100px;
$gap: 1px;
$columns: 7;

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  width: $columns * $cell-size + ($columns - 1) * $gap;
  &__day {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #eee;
    border: 1px solid black;
    width: $cell-size;
    height: $cell-size;
    font-family: Arial, sans-serif;
    font-size: 30px;
  }
}

.calendar__day:hover {
  cursor: pointer;
  background-color: #ffbfcb;
  transform: translateY(-20px);
  transition-duration: 0.5s;
}

@for $i from 1 through 31 {
  .calendar__day:nth-child(#{$i})::before {
    content: '#{$i}';
  }
}

$start-days: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);

@each $day, $index in $start-days {
  .calendar--start-#{$day} .calendar__day:first-child {
    margin-left: ($cell-size + $gap) * $index;
  }
}

@for $i from 28 through 31 {
  .calendar--month-length-#{$i} {
    .calendar__day:nth-child(n + #{$i + 1}) {
      display: none;
    }
  }
}
